
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Clarity Home</title>
</head>
<body>
    <h1>Clarity Speed Dating</h1>
    <div class="info">
        <p>Hi {{ profile_data.name }}!</p>
        <p>Friends = {{ friends.summary.total_count }}</p>
        <p>ID = {{ profile_data.id }}</p>
        <a href="{{ profile_data.link }}">Link to FB</a>
        <img src="{{ picture.url }}">
        <p>{{ user.username }}</p>
        <p>Other User: {{ other_user.username }}</p>
    </div>
</body>
</html>
