{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock extra_head %}
{% block content %}
    <h1>Clarity Video Dating</h1>
    <div class="col-md-4" id="info">
        <h3>Hi {{ profile_data.name }}!</h3>
        <img src="{{ picture.url }}">
    </div>
    <div class="col-md-4 col-centered" id="CTA">
        <h3 class="CTACenter">Gender Preference</h3>
        <form action="" id="preferenceForm">
            <input type="radio" name="sex" value="male" {% if user.preference == True %}checked{% endif %}> Male<br>
            <input type="radio" name="sex" value="female" {% if user.preference == False %}checked{% endif %}> Female
        </form>
        {% if friends.summary.total_count < 50 %}
            <h3>Friends: {{ friends.summary.total_count }}</h3>
            <p id="sorry">Sorry, you must have at least 50 facebook friends to participate</p>
        {% else %}
            <a id="meetSomeone" class="navbar-brand navLinks" href={% url "caller" %}><button id="CTAButton" class="btn btn-primary">Meet Someone</button></a>
        {% endif %}
    </div>
    <div class="col-md-4" id="matches">
        <h3>Matches</h3>
        {% for match in match_list %}
            <ul id="noDot">
            {% if match.logged_user != user %}
                <li><a href="https://www.facebook.com/app_scoped_user_id/{{ match.logged_user.link }}/" target="_blank">
                    <button class="btn btn-success matchUser">See {{ match.logged_user.first_name }}'s Facebook!</button>
                </a></li>
            {% endif %}
        {% endfor %}
            </ul>
    </div>
    <script>

        var gender_db = function(){
            var gender = '{{ profile_data.gender }}';
            var gender_boolean;
            if(gender == 'male'){
                gender_boolean = 1;
            }
            else if(gender == 'female'){
                gender_boolean = 0;
            }
            var gender_preference = $('input[name="sex"]:checked', '#preferenceForm').val();
            if(gender_preference == 'male'){
                gender_preference = 1;
            }
            else if(gender_preference == 'female'){
                gender_preference = 0;
            }
            $.ajax({
                url: '/gender/'+gender_boolean+'/'+gender_preference,
                type: 'GET',
                success: function (data) {
                    console.log('gender' + gender_boolean + 'gender_preference' + gender_preference)
                    var link = '{{ profile_data.id }}';
                    link = link.toString();
                    $.ajax({
                        url: '../../fb_link/'+link,
                        success: function (data) {
                            console.log(data);
                            $.ajax({
                                url: '../../fifty/'+'{{ friends.summary.total_count }}',
                                success: function (data) {
                                    console.log(data);
                                    console.log({{ friends.summary.total_count }})
                                }
                            });
                        }
                    });
                }
            });
        };
        gender_db();
        $('input[name="sex"]', '#preferenceForm').on("click", function () {
            gender_db()
        });
    </script>
{% endblock content %}