{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1>Clarity Speed Dating</h1>
    <div class="info">
        <p>Hi {{ profile_data.name }}!</p>
        <p>Friends = {{ friends.summary.total_count }}</p>
        <p>ID = {{ profile_data.id }}</p>
        <a href="{{ profile_data.link }}">Link to FB</a>
        <img src="{{ picture.url }}">
        <p>{{ user.username }}</p>
        <p>Facebook Gender: {{ profile_data.gender }}</p>
        <p>Django Gender: {{ user.gender }}</p>
        <p>Gender Preference</p>
        <form action="" id="preferenceForm">
        <input type="radio" name="sex" value="male" {% if user.preference == True %}checked{% endif %}> Male<br>
        <input type="radio" name="sex" value="female" {% if user.preference == False %}checked{% endif %}> Female
        </form>

    </div>
    <script>

        var gender_db = function(){
            var gender = '{{ profile_data.gender }}';
            var gender_boolean;
            if(gender == 'male'){
                gender_boolean = 1;
            }
            else if(gender == 'female'){
                gender_boolean = 0;
            }
            var gender_preference = $('input[name="sex"]:checked', '#preferenceForm').val();
            if(gender_preference == 'male'){
                gender_preference = 1;
            }
            else if(gender_preference == 'female'){
                gender_preference = 0;
            }
            $.ajax({
                url: '/gender/'+gender_boolean+'/'+gender_preference,
                type: 'GET',
                success: function (data) {
                    console.log('gender' + gender_boolean + 'gender_preference' + gender_preference)
                }
            });
        };
        gender_db();
        $('input[name="sex"]', '#preferenceForm').on("click", function () {
            gender_db()
        })

    </script>
{% endblock content %}