{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Clarity {% block title %}{% endblock title %}</title>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>

    <div class="jumbotron special">
        <h2 id="clarityTitle" class="jumboTitle">Clarity</h2>
        <h3 class="jumboTitle">Live Video Chat Dating Service</h3>
        <div class="login">
            {% if not user.is_authenticated %}
                <a href="{% url "social:begin" "facebook" %}"><img id="fbLogin" width="300px" src="//nitelygigs.com/images/FacebookButton.png"></a>
            {% else %}
                <a href="{% url "home" %}"><button style="width: 100px" class="btn btn-primary">Home</button></a>
            {% endif %}
        </div>
    </div>
    <div class="section1">
        <div class="container">
            <h2 style="text-align: center">Get Started in 3 Steps</h2>
            <div class="row">
                <div class="col-md-4">
                    <img width="220px" class="img-responsive center-block" src="http://lh4.ggpht.com/-4TI0stvc_SY/VGwnoYyKycI/AAAAAAAAAO8/FYG7h9fq008/295173.gif"/>
                    <h3 style="margin-top: 0px">1) Log In Through Facebook</h3>
                </div>
                <div class="col-md-4">
                    <img width="200px" class="img-responsive center-block" src="http://i58.tinypic.com/152j7zq.png"/>
                    <h3>2) Choose Your Preference</h3>
                </div>
                <div class="col-md-4">
                    <img width="250px" style="border-radius: 40px;" class="img-responsive center-block" src="http://fc02.deviantart.net/fs6/i/2005/047/b/5/Face_In_The_Crowd_by_smashmethod.jpg"/>
                    <h3 style="margin-top: 33px">3) Find Someone</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="container">
            <h2>Connect With Others</h2>
            <div class="row">
                <div id="connectLeft" class="col-md-6">
                    <h3>Gradually ease into a conversation</h3>
                    <h4>Clarity eases in the video so you get to know someone through chatting and talking with them leading to meaningful conversations</h4>
                </div>
                <div id="connectRight" class="col-md-6">
                    <img width="250px" style="border-radius: 40px;" class="img-responsive center-block" src="http://i60.tinypic.com/2q00e8z.jpg"/>
                </div>
            </div>
        </div>
    </div>
</body>