#navLogo {
    max-width: 80px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.navbar {
    background-color: #75C6DF;
    /*border-radius: 40px;*/
}
.navLinks {
    color: #FEFEFE !important;
}
body {
    background-color: rgba(236, 236, 236, 0.48);
}
a, p {
    font-family: Verdana;
}