.pane {
    margin: 20px;
    text-align: center;
}
video {
    width: 100%;
}

#video_container > video:first-child {
    display: block !important;
}
#video_container > video:last-child {
    display: none;
}
