h1 {
    text-align: center;
}
img {
    width: 320px;
}
#sorry {
    color: red;
}
#noDot {
    list-style-type: none;
}

.col-centered {
    display:inline-block;
    margin-right:-4px;
}

.CTACenter {
    text-align: center;
}

#CTAButton {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    height: 80px;
    font-size: 40px;
}

#matches {
    text-align: right;
}

.matchUser {
    width: 100%;
}