.login {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
}
.jumbotron {
    background-image: url("http://i61.tinypic.com/23j3gc2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

html, body {
     height: 100%;
}

.jumboTitle {
    text-align: center;
}

#clarityTitle {
    font-size: 60px;
    margin-top: 100px;
}

.section1 {
    background-color: #ff4d54;
    margin-top: -30px;
    height: 380px;
    text-align: center;
}
img {
    margin: 0 auto;

}

.section2 {
    background-color: #014AA6;
    margin-top: -30px;
    height: 380px;
    text-align: center;
}
h2, h3, h4 {
    color: #e6e6e6;
}

#connectLeft {
    text-align: left;
    left: 21px;
    /*margin-right: -37px;*/
}

#connectRight {
    text-align: right;
    left: 97px;
    /*margin-right: 1000px;*/
}

.section3 {
    background-color: #609e4b;
    margin-top: -30px;
    height: 380px;
    text-align: center;
}

#matchLeft {
    text-align: left;
    width: 500px;
    margin-left: 23px;
}

#matchRight {
    text-align: right;
    margin-left: 7px;
}
.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px;
/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
font-size:110px;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}